* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: hsl(215, 32%, 27%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    gap: 12px;
    padding: 5px;
}

img {
    width: 90%;
    border-radius: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 90%;
}

h1 {
    font-size: 20px;
    color: white;
}

p {
    color: gray;
}

.etherium {
    display: flex;
    gap: 5px;
    color: rgb(255, 255, 255);
}

.etherium img {
    width: 10px;
}

.time {
    display: flex;
    gap: 5px;
    color: rgb(195, 195, 195);
}

.time img {
    width: 20px;
}

.rowDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.creator {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(195, 195, 195);
}

.creator img {
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
}

.creator span span {
    color: white;
}